QWidget#window {
    background-image: url('src/views/static/icons/background.png') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

QToolButton#button {
    padding: 10%;
    font-size: 15px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 15px;
    border: 1px solid white;
}

QToolButton#small {
    padding: 1%;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    background-color: none;
    border-radius: 15px;
    border: 1px solid white;
}

QToolButton#NotButton {

    color: none; 
    background-color: none; 
    border: none;
    background: none;
}

QToolButton#buttonTeclado {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 5px;
    border: 1px solid white;
}

QToolButton#buttonTecladoMAYUS {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 5px;
    border: 1px solid white;
}

QToolButton#buttonTeclado:hover {
    background-color: #1D2041; 
}

QLineEdit#input {
    padding-left: 5%;
    padding-right: 2%s;
    font-size: 15px;
    font-family: Helvetica; 
    color: white; 
    background-color: transparent; 
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
}

QToolButton#button:hover {
    background-color: #1D2041; 
}



QToolButton#button_home {
    padding: 0px;

    background-color: none; 
    
    border: 0;
}

QLabel#FabInfo {
    margin-top: 50%;
    margin-left: 50%;
    font-size: 15px;
    font-family: Helvetica;
    color: #BEBEBE; 
    background-color: transparent; 
}

QToolButton#button_trasnparente{
    padding: 10%;
    font-size: 20px;
    color: none; 
    background-color: none; 
    border-radius: 15px;
    border: none;
}


QToolButton#Texto {
    font-size: 30px;
    font-weight: normal;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border: none;

}
