QWidget#window {
    background-image: url('static/icons/background.png') ;
    background-repeat: no-repeat;
}

QToolButton#button {
    padding: 30px;
    font-size: 20px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 15px;
    border: 1px solid white;
}

QToolButton#NotButton {
    color: none; 
    background-color: none; 
    border: none;
    background: none;
}

QToolButton#buttonTeclado {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 5px;
    border: 1px solid white;
}

QToolButton#buttonTecladoMAYUS {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 5px;
    border: 1px solid white;
}

QToolButton#buttonTeclado:hover {
    background-color: #1D2041; 
}

QLineEdit#input {
    padding-left: 30px;
    padding-right: 20px;
    font-size: 20px;
    font-family: Helvetica; 
    color: white; 
    background-color: transparent; 
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
}

QToolButton#button:hover {
    background-color: #1D2041; 
}

QToolButton#button_home:hover {
}

QToolButton#button_home {
    background-image: url('static/icons/logo_lateral.png');
    background-repeat: no-repeat;
    border: 0;
}

QLabel#FabInfo {
    margin-top: 120px;
    margin-left: 162px;
    font-size: 20px;
    font-family: Helvetica;
    color: #BEBEBE; 
    background-color: transparent; 
}

QToolButton#button_trasnparente{
    padding: 30px;
    font-size: 20px;
    color: none; 
    background-color: none; 
    border-radius: 15px;
    border: none;
}