@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

QWidget#window {
    background-color: #000015;
    background-image: url('static/background.png') ;
    background-repeat: no-repeat;
    
}

QPushButton#button {
    font-size: 20px;
    color: white;
    background-color: none;
    font-family: 'orbitron', Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-radius: 3px;
}

