@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

QWidget#window {
    background-image: url('static/background.png') ;
    background-repeat: no-repeat;
}


QPushButton#button {
    font-size: 20px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 15px;
    border: 1px solid white;
   

}

QPushButton#button:hover {
    background-color: #1D2041; 
}

    

