@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

QWidget#window {
    background-image: url('static/background.png') ;
    background-repeat: no-repeat;
}


QToolButton#button {
    padding: 30px;
    font-size: 20px;
    font-family: Helvetica; 
    color: white; 
    background-color: none; 
    border-radius: 15px;
    border: 1px solid white;
}

QToolButton#button:hover {
    background-color: #1D2041; 
}

QToolButton#button_home:hover {
}


QToolButton#button_home {

    background-image: url('static/icons/logo_lateral.png');
    background-repeat: no-repeat;
    border: 0;
}
    

